@{
    ViewData["Title"] = "Página principal";
}
<h4>GESTIÓN DE INVENTARIO</h4>
<div style="margin-top:30px">
    <button class="btn btn-primary"><a asp-controller="Productos" asp-action="Index" style="color:white; text-decoration:none">Productos</a></button>
</div>
<div style="margin-top:10px">
    <button class="btn btn-primary"><a asp-controller="CantidadSucursals" asp-action="Index" style="color:white; text-decoration:none">Inventario</a></button>
</div>
